.travel-plan {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding-right: 20px;
    padding-left: 50px;
    background-color: rgb(103, 158, 128);
    margin-bottom: 10px;
}

ul ul li {
    font-size: 18px;
    font-style: italic;
    background-color: rgb(153, 180, 102);
    margin-bottom: 10px;
    padding-left: 40px;
}

span {
    display: inline-block;
    padding: 10px 20px;
}

.stage-title {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(199, 124, 106);
    margin-bottom: 10px;
}

.item-title {
    background-color: rgb(218, 106, 32);
}

.plan-list {
    background-image: url('../icons/rule.png');
    background-position:  2px 5px ; 
    background-repeat: no-repeat;
    background-size: 40px; 
}

.select-route {
    background-image: url('../icons/ad_units.svg');
    background-position: top left;
}

.tickets {
    background-image: url('../icons/airplane_ticket.svg');
}

.hotel {
    background-image: url('../icons/hotel.png');
}

.rent-car {
    background-image: url('../icons/car_rental.svg');
}

.bars {
    background-image: url('../icons/local_bar.svg');
}

.casino {
    background-image: url('../icons/casino.svg');
}

.museium {
    background-image: url('../icons/museum.png');
}

.festivals {
    background-image: url('../icons/festival.svg');
}

.select-route,
.tickets,
.hotel,
.rent-car,
.bars,
.casino,
.museium,
.festivals {
    background-position: 0 5px;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 30px; 
}