table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #d9534f;
    color: white;
    font-weight: bold;
}

/*Вибирає всі непарні рядки (<tr>) таблиці*/
tr:nth-child(odd) {
    background-color: #f8d7da;
}

/*Вибирає всі парні рядки (<tr>) таблиці*/
tr:nth-child(even) {
    background-color: #f2dede;
}

/*Вибирає першу клітинку <td> у кожному рядку (<tr>)*/
td:first-child { 
    background-color: #f2f2f2;
    font-weight: bold;
}